Before trying to run any of this install yfinance by:
Opening a bash window and running 'pip install yfinance'

In [41]:
# import dependencies
import yfinance as yf
import numpy as np

In [51]:
# list of ticker names, should be able to pull this from outside somehow
tnames = ['SPY', 'TSLA']

# use yfinance function to generate list of callable tickers
tickers = [yf.Ticker(stock) for stock in tnames]

In [52]:
# create list of stock price history for chosen period of time
histlist = [tick.history(period='1mo') for tick in tickers]

In [40]:
len(histlist)

2

In [53]:
# We could construct a dictionary of tickers and stock history dataframes
hist_dict = {}
indexval = np.arange(0, len(histlist), 1)

for ind in indexval:
    hist_dict[tnames[ind]] = histlist[ind]

In [57]:
hist_dict['TSLA']

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-07-27,663.400024,666.500000,627.239990,644.780029,32813300,0,0
2021-07-28,647.000000,654.969971,639.400024,646.979980,16006600,0,0
2021-07-29,649.789978,683.690002,648.799988,677.349976,30394600,0,0
2021-07-30,671.760010,697.530029,669.000000,687.200012,29600500,0,0
2021-08-02,700.000000,726.940002,698.400024,709.669983,33615800,0,0
2021-08-03,719.000000,722.650024,701.010010,709.739990,21620300,0,0
2021-08-04,711.000000,724.900024,708.929993,710.919983,17002600,0,0
2021-08-05,716.000000,720.950012,711.409973,714.630005,12919600,0,0
2021-08-06,711.900024,716.330017,697.630005,699.099976,15576200,0,0
2021-08-09,710.169983,719.030029,705.130005,713.760010,14715300,0,0
2021-08-10,713.989990,716.590027,701.880005,709.989990,13432300,0,0
2021-08-11,712.710022,715.179993,704.210022,707.820007,9800600,0,0
2021-08-12,706.340027,722.799988,699.400024,722.250000,17459100,0,0
2021-08-13,723.710022,729.900024,714.340027,717.169983,16698900,0,0
2021-08-16,705.070007,709.500000,676.400024,686.169983,22677400,0,0
2021-08-17,672.659973,674.580017,648.840027,665.710022,23721300,0,0
2021-08-18,669.750000,695.770020,669.349976,688.989990,20349400,0,0
2021-08-19,678.210022,686.549988,667.590027,673.469971,14313500,0,0
2021-08-20,682.849976,692.130005,673.700012,680.260010,14781800,0,0
2021-08-23,685.440002,712.130005,680.750000,706.299988,20264900,0,0
2021-08-24,710.679993,715.219971,702.640015,708.489990,13083100,0,0
2021-08-25,707.030029,716.969971,704.000000,711.200012,12645600,0,0
2021-08-26,708.309998,715.400024,697.620117,701.159973,13089482,0,0

In [60]:
# loop through dictionary and add columns using .values() suffix
for df in hist_dict.values():
    df['Amp'] = df['High'] - df['Low']

In [61]:
hist_dict['TSLA']

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Amp
Date,,,,,,,,
2021-07-27,439.910004,439.940002,435.989990,439.010010,67397100,0,0,3.950012
2021-07-28,439.679993,440.299988,437.309998,438.829987,52472400,0,0,2.989990
2021-07-29,439.820007,441.799988,439.809998,440.649994,47435300,0,0,1.989990
2021-07-30,437.910004,440.059998,437.769989,438.510010,68890600,0,0,2.290009
2021-08-02,440.339996,440.929993,437.209991,437.589996,58783300,0,0,3.720001
2021-08-03,438.440002,441.279999,436.100006,441.149994,58053900,0,0,5.179993
2021-08-04,439.779999,441.119995,438.730011,438.980011,46732200,0,0,2.389984
2021-08-05,440.220001,441.850006,439.880005,441.760010,38969700,0,0,1.970001
2021-08-06,442.100006,442.940002,441.799988,442.489990,46864100,0,0,1.140015
2021-08-09,442.459991,442.799988,441.309998,442.130005,41222600,0,0,1.489990
2021-08-10,442.609985,443.440002,441.880005,442.679993,43339300,0,0,1.559998
2021-08-11,443.820007,443.880005,442.619995,443.779999,44034300,0,0,1.260010
2021-08-12,443.619995,445.260010,442.660004,445.109985,38909400,0,0,2.600006
2021-08-13,445.589996,445.940002,445.070007,445.920013,39388300,0,0,0.869995
2021-08-16,444.529999,447.109985,442.869995,446.970001,73740000,0,0,4.239990
2021-08-17,444.239990,444.959991,440.850006,444.040009,92673900,0,0,4.109985
2021-08-18,442.959991,444.630005,438.920013,439.179993,89351900,0,0,5.709991
2021-08-19,436.269989,441.140015,436.119995,439.859985,92812200,0,0,5.020020
2021-08-20,440.230011,443.709991,439.709991,443.359985,71975900,0,0,4.000000
2021-08-23,445.160004,448.230011,443.440002,447.260010,54973000,0,0,4.790009
2021-08-24,447.970001,448.540009,447.420013,447.970001,38744700,0,0,1.119995
2021-08-25,448.170013,449.459991,447.769989,448.910004,40529700,0,0,1.690002
2021-08-26,448.609985,448.859985,446.160004,446.260010,57829572,0,0,2.699982

Or we could keep it as list of tickers and lists of dataframes and do things like this

In [45]:
# loop through all history dataframes in list, adding columns as needed to each one
# for example, add ticker and range between high and low point for the day
for ind in indexval:
    histlist[ind]['Amp'] = histlist[ind]['High'] - histlist[ind]['Low']
    histlist[ind]['Ticker'] = tnames[ind]

In [50]:
# easy to reference by index number
histlist[0]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Amp,Ticker
Date,,,,,,,,,
2021-07-27,439.910004,439.940002,435.989990,439.010010,67397100,0,0,3.950012,SPY
2021-07-28,439.679993,440.299988,437.309998,438.829987,52472400,0,0,2.989990,SPY
2021-07-29,439.820007,441.799988,439.809998,440.649994,47435300,0,0,1.989990,SPY
2021-07-30,437.910004,440.059998,437.769989,438.510010,68890600,0,0,2.290009,SPY
2021-08-02,440.339996,440.929993,437.209991,437.589996,58783300,0,0,3.720001,SPY
2021-08-03,438.440002,441.279999,436.100006,441.149994,58053900,0,0,5.179993,SPY
2021-08-04,439.779999,441.119995,438.730011,438.980011,46732200,0,0,2.389984,SPY
2021-08-05,440.220001,441.850006,439.880005,441.760010,38969700,0,0,1.970001,SPY
2021-08-06,442.100006,442.940002,441.799988,442.489990,46864100,0,0,1.140015,SPY
2021-08-09,442.459991,442.799988,441.309998,442.130005,41222600,0,0,1.489990,SPY
2021-08-10,442.609985,443.440002,441.880005,442.679993,43339300,0,0,1.559998,SPY
2021-08-11,443.820007,443.880005,442.619995,443.779999,44034300,0,0,1.260010,SPY
2021-08-12,443.619995,445.260010,442.660004,445.109985,38909400,0,0,2.600006,SPY
2021-08-13,445.589996,445.940002,445.070007,445.920013,39388300,0,0,0.869995,SPY
2021-08-16,444.529999,447.109985,442.869995,446.970001,73740000,0,0,4.239990,SPY
2021-08-17,444.239990,444.959991,440.850006,444.040009,92673900,0,0,4.109985,SPY
2021-08-18,442.959991,444.630005,438.920013,439.179993,89351900,0,0,5.709991,SPY
2021-08-19,436.269989,441.140015,436.119995,439.859985,92812200,0,0,5.020020,SPY
2021-08-20,440.230011,443.709991,439.709991,443.359985,71975900,0,0,4.000000,SPY
2021-08-23,445.160004,448.230011,443.440002,447.260010,54973000,0,0,4.790009,SPY
2021-08-24,447.970001,448.540009,447.420013,447.970001,38744700,0,0,1.119995,SPY
2021-08-25,448.170013,449.459991,447.769989,448.910004,40529700,0,0,1.690002,SPY
2021-08-26,448.609985,448.859985,446.160004,446.260010,57829572,0,0,2.699982,SPY